<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Add pengelola</h5>
      <form
        class="row g-3 needs-validation"
        novalidate
        @submit.prevent="submitForm"
      >
        <div class="row mb-3">
          <div class="col-md-7">
            <label for="complex_name" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="complex_name"
              v-model="formData.username"
              required
            />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-7">
            <label for="inputState" class="form-label">perumahan</label>
            <select
              id="inputState"
              class="form-select"
              v-model="formData.Perumahan"
              required
            >
              <option disabled value="">Choose...</option>
              <option
                v-for="perumahan in dataPerumahan"
                :key="perumahan.complex_id"
                value="{{ perumahan.complex_id}}"
              >
                {{ perumahan.complex_name }}
              </option>
            </select>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
      </form>
    </div>
  </div>
</template>
