<tamplat>
  <div class="pagetitle">
    <h1>Data Tables</h1>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">list Perumahan</h5>

            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th><b>ID</b> admin</th>
                  <th>Action</th>
                  <th>Deskripsi</th>
                  <th data-type="date" data-format="YYYY/DD/MM">Action Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>DELET</td>
                  <td>DELET DATA</td>
                  <td>1999/04/07</td>
                </tr>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
</tamplat>
